# .env file should be present to run the server
# 
# This file is an example of .env file.
# Please copy this file as .env and fill out values to run the server.

# Server
ENV=
PORT=
SERVER_URL=

# Database
MONGO_URI=

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
ACCESS_TOKEN_JWT_SECRET=
REFRESH_TOKEN_JWT_SECRET=
ACCESS_TOKEN_EXPIRE_TIME=
REFRESH_TOKEN_EXPIRE_TIME=

# Extension
CHROME_EXTENSION_ID=
